.super-mario {
    width: 200px;
    position: absolute;
    left: 150px;
    top: 60px;


  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 280px;
    top: 330px;
    color: green;
  }
  
  .baloon {
      width: 200px;
    position: absolute;
    left: 420px;
    top: 100px;
    z-index: 1;
    ;

  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 2;
    left: 450px;
    width: 200px;
    top: 100px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 600px;
    top: 200px;
  }